@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Quicksand&family=Raleway:wght@400;600&family=Roboto&display=swap');

:root{
    --red-color: #ca295f;
    --grey-color: #242b3b;
    --white-text: #f3eaf2;
    --blue-color: #4edadf;
    --dblue-color: #2a9aa8;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}
a{
    text-decoration: none;
}
.main{
    font-size: 1rem;
    background-color: var(--grey-color);
    color: var(--white-text);
}
.nav-bar{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--red-color);
    align-items: center;
}

.nav-list{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.nav-list li{
    margin: 0;
    
}
.nav-link{
    box-sizing: border-box;
    display: flex;
    padding: 1em;
    font-family: 'Roboto',sans-serif;
    color: var(--white-text);
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0 0.2em;
    transition: 500ms;
}
.nav-link:hover{
    background-color: var(--dblue-color);
}
.nav-bar ul{
    list-style-type: none;
    
}
.content-section{
    height: 100vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 2.4em;
}
.introduction{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}
.introduction h1{
    letter-spacing: 1px;
    margin: 0;
}
.introduction p{
    color: var(--blue-color);
}
.project-section{
    flex-direction: column;
    text-align: center;
    height: auto;
    color: inherit;
    background-color: #086972;
    font-family: 'Poppins',sans-serif;
    color: var(--white-text);
    font-size: 1.25rem;
}
.project-section header{
    padding-top: 1.25em;
}
.project-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    gap: 4em;
    margin: 2em 0;
}
.project-container p{
    color: var(--white-text);
}
.card{
    display: flex;
    background-color: var(--grey-color);
    border-radius: 15px;
    overflow: hidden;
}

.contact-section{
    flex-direction: column;
    font-family: 'Quicksand',sans-serif;
    font-size: 2rem;
    height: 80vh;
    scroll-margin-top: 4em;
}
@media (max-width: 460px){
    .contact-section{
        font-size: 1.5rem;
    }
}
.contact-section h2{
    margin: 0;
}
.social-section{
    display: flex;
    margin-top: 1em;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.social-section a{
    color: var(--white-text);
}

.footer{
    display: flex;
    justify-content: space-around;
    font-size: 1.25rem;
    border-top: 5px solid var(--red-color);
    padding: 2em;
    font-family: 'Inter',serif;
}
.footer p{
    margin: 0;
}
.footer i{
    vertical-align: middle;
}
@media (max-width: 420px){
    .footer{
        font-size: 1rem;
    }
    .card-image{
        width: 90vw;
    }

}